if ARCH_IPQ806x

config BOARD_DISPLAY_NAME
	string "Name to display in U-Boot boot message"
	depends on OF_CONTROL
	help
		Define the product name to display in U-Boot startup message.
		This will appear in the 'Model:' line of the boot output.

config DISPLAY_BOARDINFO
	bool "Display board info"
	default y

config SYS_CPU
	default "ipq806x"

config SYS_BOARD
	default "ipq806x"

config SYS_VENDOR
	default "qca/arm"

config SYS_CONFIG_NAME
	default "ipq806x"
config IPQ806X_I2C
	bool "ipq806x i2c"

config USB_XHCI_IPQ
	bool "ipq806x usb"

config PCI_IPQ
	bool "ipq806x pci"

config BOARD_TYPES
	bool "Support board_type member in global data"
	default y

endif
